<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mymusicstoreforum.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mymusicstoreforum.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MyMusicStoreForum</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MyMusicStoreForum</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;C:\Users\Dave\Desktop\ProjectMusic\new 5\MyMusic\MyMusic\App_Data\MvcMusicStore.mdf&quot;;Integrated Security=True;Connect Timeout=30" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MyMusic.Models.ApplicationDbContext, MyMusic" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MvcMusicStoreEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;C:\Users\Dave\Desktop\ProjectMusic\new 5\MyMusic\MyMusic\App_Data\UserDetails.mdf&quot;;Integrated Security=True;Connect Timeout=30" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MyMusic.Models.MvcMusicStoreEntities, MyMusic" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=(LocalDB)\v11.0;AttachDbFilename="C:\Users\Dave\Desktop\ProjectMusic\new 5\MyMusic\MyMusic\App_Data\MvcMusicStore.mdf";Integrated Security=True;Connect Timeout=30</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MvcMusicStoreEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.MusicStore.csdl|res://*/Models.MusicStore.ssdl|res://*/Models.MusicStore.msl;provider=System.Data.SqlClient;provider connection string='Data Source=(LocalDB)\v11.0;AttachDbFilename="C:\Users\Dave\Desktop\ProjectMusic\new 5\MyMusic\MyMusic\App_Data\UserDetails.mdf";Integrated Security=True;Connect Timeout=30'</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>